<p-toolbar>
  <div class="p-toolbar-group-left">
    <p-button icon="pi pi-plus"
              (click)="showUpload()" pTooltip="Upload new file" tooltipPosition="bottom"
              styleClass="p-button-success"></p-button>

    <i class="pi pi-bars"></i>

    <p-button icon="pi pi-trash" [disabled]="selected == null"
            (click)="remove()" pTooltip="Remove file" tooltipPosition="bottom"
            styleClass="p-button-danger"></p-button>
  </div>
</p-toolbar>

<p-table [value]="containers"
         selectionMode="single" [selection]="selected" (onRowSelect)="onRowSelect($event)"
         [scrollable]="true" [scrollHeight]="'calc(100vh - 150px)'">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Lease State</th>
      <th>Lease Status</th>
      <th>Last Modified</th>
      <th>ETag</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-container>
    <tr [pSelectableRow]="container">
      <td><a href="#" (click)="open($event, container)">{{container.name}}</a></td>
      <td>{{container.leaseState}}</td>
      <td>{{container.leaseStatus}}</td>
      <td>{{container.lastModified}}</td>
      <td>{{container.etag}}</td>
    </tr>
  </ng-template>
</p-table>

<app-upload-file [containerName]="idContainer"
                 (onSuccess)="fileUploadSuccess($event)"
                 (onFailed)="fileUploadFailed($event)"></app-upload-file>
