<p-table #dt
         [value]="containers"
         selectionMode="single" [selection]="selected" (onRowSelect)="onRowSelect($event)"
         [scrollable]="true" [scrollHeight]="'calc(100vh - 150px)'">
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
      <button type="button" pButton icon="pi pi-plus"
              (click)="showUpload()" class="p-mr-2" pTooltip="Upload new file" tooltipPosition="bottom"></button>
      <button type="button" pButton icon="pi pi-trash" [disabled]="selected == null"
              (click)="remove()" class="p-button-warning p-mr-2" pTooltip="Remove file" tooltipPosition="bottom"></button>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-container>
    <tr [pSelectableRow]="container">
      <td>{{container}}</td>
    </tr>
  </ng-template>
</p-table>

<app-upload-file [containerName]="idContainer"
                 (onSuccess)="fileUploadSuccess($event)"
                 (onFailed)="fileUploadFailed($event)"></app-upload-file>
